<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vector%2Fdigital-blue-pharmacy-medical-icons-vector-15637419&psig=AOvVaw3DUudIpi5HaA5OnJaHLgw8&ust=1620106009648000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCDgq_jrPACFQAAAAAdAAAAABAD" style="width:80px;height:80px;"/>
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['/newOrder']">New Order
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Prescription History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  [routerLink]="['']">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <h1 class="mt-1">Digital Pharmacy</h1>
  <p>Going Beyond Dispensing</p>
</div>
<!-- /.container -->